In [5]:
%load_ext autoreload
%load_ext sql
%autoreload 2

import sqlite3

import matplotlib.pyplot as plt
import pandas as pd
from config import settings
from data import SQLRepository

from data import AlphaVantageAPI

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [6]:
connection = sqlite3.connect(database=settings.db_name,check_same_thread=False)

print("connection type:", type(connection))

# Create instance of `AlphaVantageAPI` class
av = AlphaVantageAPI()
print("av type:", type(av))

connection type: <class 'sqlite3.Connection'>
av type: <class 'data.AlphaVantageAPI'>

In [7]:
# Create instance of class
repo = SQLRepository(connection=connection)

# Does `repo` have a "connection" attribute?

assert hasattr(repo,"connection")
# Is the "connection" attribute a SQLite `Connection`?
assert isinstance(repo.connection, sqlite3.Connection)

In [8]:
ticker = "AMBUJACEM.BSE"

# Get Ambuja data using `av`
ambuja_records = av.get_daily(ticker=ticker)

# Insert `ambuja_records` database using `repo`
response = repo.insert_table(
    table_name=ticker,
    records=ambuja_records,
    if_exists="replace"
)

response

{'transaction_successful': True, 'records_inserted': 5111}

In [9]:
# Define Suzlon ticker symbol
ticker = "SUZLON.BSE"

# Use your `av` object to get daily data
df_suzlon = av.get_daily(ticker=ticker)

print("df_suzlon type:", type(df_suzlon))
print("df_suzlon shape:", df_suzlon.shape)
df_suzlon.head()

df_suzlon type: <class 'pandas.core.frame.DataFrame'>
df_suzlon shape: (4912, 5)

             open   high    low  close     volume
date
2025-10-01  55.28  55.35  54.59  55.20  3721656.0
2025-09-30  55.40  55.45  54.39  55.04  7914565.0
2025-09-29  55.58  56.35  55.18  55.29  6333759.0
2025-09-26  56.79  57.23  55.18  55.31  9556964.0
2025-09-25  57.53  58.19  56.44  56.68  5065183.0

### **Comparing Stock Returns**